
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600;700&family=PT+Sans&display=swap');
html {}
body {
    background: #161616;
    font-family: ;
    font-family: ;
    color: #F3F2F4;   
    padding: 40px;
}
* {
    box-sizing: border-box;
    font-size: 16px!important;
    font-family: 'PT Sans', serif!important;
  }
  
p {
    margin-bottom: 1em;
  }

h1, h2, h3 {
    font-family: 'Cormorant Garamond', serif;
    color: #F3F2F4;   
}
h1 {
    font-size: 42px;
    line-height: 44px;
}
h2 {
    font-size: 38px;
    line-height: 150%;
}
h3 {
    font-size: 30px;
    line-height: 150%;
}
.content {
    margin: 0 90px;
}

.colorset {
    display: inline-block;
}

.colorbg {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    border: 1px solid #E9E9E9;
    background: #161616;
    float: left;
    margin: 10px 20px;
}

.colorlight {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    background: #FFF;
    float: left;
    margin: 8px 8px;
    }
.color-primary {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    background: #E7FE55;
    float: left;
    margin: 8px 8px;
    }
.colorbglight {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    background: #E9E9E9;
    float: left;
    margin: 8px 8px;
    }
.colorbgwhite {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    background: #F3F2F4;
    float: left;
    margin: 8px 8px;
    }
.colorbgconteiner {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    background: #818181;
    float: left;
    margin: 8px 8px;
    }
.colorbgelement{
    width: 160px;
    height: 160px;
    border-radius: 20px;
    background: #4A4848;
    float: left;
    margin: 8px 8px;
    }
.buttonset {
    display: flex;
}

.nav-tabs {
    width: 360px;
    height: 74px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 40px;
    border: 1px solid #000;
    background: #4A4848;
}
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
    flex: 1 0 0;
    float: left;
    padding: 0 16px;
}
.nav-item:hover {
    border-radius: 40px;
    background: #1F1D1D;
    width: 66px;
    height: 48px;
    flex-shrink: 0;
}
button {
    border: none;
    margin: 20px;
    cursor: pointer;
}
.btn-primary {
    display: block;
    padding: 20px 30px;
    border-radius: 20px;
    background: #E7FE55;
    display: inline-flex;
    padding: 20pxpx 30px;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
}
.btn-primary:hover {
    background: #161616;
    border: 1px solid #E7FE55;
    color: #F3F2F4;
}
.filter-option {}
.filter-grid {}
.link-nav {}
.icons {
    display: flex;
    width: 100%;
    padding: 16px 40px;
    justify-content: left;
    align-items: left;
    align-content: flex-start;
    gap: 60px 34px;
    flex-shrink: 0;
    flex-wrap: wrap;
    border-radius: 20px;
}
.control-close {
    width: 21px;
    height: 21px;
    display: block;
}
.arrow {}
.share {}
.fui-heart {}
.fui-check {}
.fui-check-circle {}
.edit {}
.container {}
.container-fluid {}
.container-fluid-group {}
.search-result {}
.search {}
.search-input {}

nav {
    position: relative;
    display: block;
    background-color: #4A4848;
    padding: 10px;
    border-radius: 40px;
    transform: scale(1.8);
    overflow: hidden;
  }
  
  nav a {
    position: relative;
    line-height: 1;
    text-align: center;
    display: inline-block;
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
  }
  
  nav a b {
    position: relative;
    top: 40px;
    transition: 0.3s ease top;
  }
  
  nav a i {
    position: relative;
    left: 25%;
    transition: 0.3s ease left;
  }
  
  nav span {
    position: absolute;
    width: 100px;
    background-color: #000;
    top: 10px;
    bottom: 10px;
    left: 10px;
    border-radius: 50px;
    z-index: 1;
    transition: 0.3s ease left;
  }
  
  nav a:hover b {
    top: 0;
  }
  
  nav a:hover i {
    left: 0;
  }
  
  nav a:nth-child(1):hover ~ span {
    left: 10px;
  }
  
  nav a:nth-child(2):hover ~ span {
    left: 114px;
  }
  
  nav a:nth-child(3):hover ~ span {
    left: 218px;
  }
  
  #ytd-url {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px 14px;
    margin: 20px;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
    box-shadow: 0 10px 20px -5px rgba(83, 88, 139, 0.3);
    z-index: 125;
  }
  
